
.box{
    height: 100vh;
    position: relative;
    background-image: url("../img/bg_point.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cat{
    position: absolute;
    bottom: 0;
    background-image: url("https://yonimo.jp/images/img_cat.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-position-x: right;
    background-position-y: bottom;
    background-size: auto;
    width: 100%;
    height: 100%;
}

.eat{
    padding: 10%;
}

.howto{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family:  'Wawati SC','HanziPen TC','Hannotate SC',sans-serif;
}

