
@mixin mobile-screen{
    @media screen and (max-width:500px) {
        @content;
    }
}

@mixin mobile2-screen{
    @media screen and (min-width:501px) and (max-width:767px) {
        @content;
    }
}

@mixin tab-screen{
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin tab2-screen{
    @media screen and (min-width: 1024px) and (max-width: 1240px) {
        @content;
    }
}

@mixin column-screen{
    @media screen and (max-width: 1023px) {
        @content;
    }
}

img{
    max-width: 100%;
}

.link{
    width: 100%;
    height: 100%;
    background-image: url("../img/pablo-merchan-montes-SCbq6uKCyMY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN', sans-serif;
    @include mobile-screen{
        height: 100vh;
    }

    .link-box{
        margin: 0 auto;
        padding: 10% 0 4% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 80%;
        
        @include column-screen{
            flex-direction: column;
        }
        @include mobile-screen{
            padding: 30% 0 10% 0;
        }

        .link-img{
            width: 45%;
            margin: 0 auto;
            @include column-screen{
                width: 100%;
                margin: 0 auto;
            }

            img{
                width: 100%;
                @include column-screen{
                    width: 80%;
                    margin: 0 10%;
                }
            }
        }

        .link-text{
            width: 45%;
            margin: 0 auto;
            @include column-screen{
                width: 80%;
                margin: 0 10%;
            }

            .link-title{
                font-size: 40px;
                line-height: 3rem;
                margin: 5% auto;
                @include column-screen{
                    text-align: center;
                }
                @include tab-screen{
                    font-size: 35px;
                    line-height: 2.7rem;
                }
                @include mobile2-screen{
                    font-size: 30px;
                    line-height: 2.3rem;
                }
                @include mobile-screen{
                    font-size: 20px;
                    line-height: 1.5rem;
                }
            }

            .link-describe{
                margin: 10% auto;

                .describe-text{
                    font-size: 18px;
                    line-height: 30px;
                    @include tab-screen{
                        font-size: 16px;
                        line-height: 25px;
                    }
                    @include mobile2-screen{
                        font-size: 14px;
                        line-height: 20px;
                    }
                    @include mobile-screen{
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }

            .calorie{
                width: 70%;
                margin: 5% auto;
            
                dl{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    text-align: center;
                    font-size: 15px;
                    @include mobile2-screen{
                        font-size: 12px;
                    }
                    @include mobile-screen{
                        font-size: 8px;
                    }
            
                    dt{
                        width: 30%;
                        margin: 1% auto;
                        @include column-screen{
                            width: 50%;
                        }
                    }
            
                    dd{
                        width: 70%;
                        margin: 1% auto;
                        @include column-screen{
                            width: 50%;
                        }
                    }
                    
                }
            
            }

            .price{
                margin-top: 15%;

                .price-text{
                    font-size: 30px;
                    font-weight: bold;
                    @include column-screen{
                        text-align: end;
                    }
                    @include mobile2-screen{
                        font-size: 25px;
                    }
                    @include mobile-screen{
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .slider-btn2{
        max-width: 300px;
        margin: 5% auto 0 auto;
        padding-bottom: 5%;
        @include mobile-screen{
            // padding-bottom: 19.5%;
            max-width: 230px;
        } 

        .btn-buy2{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            position: relative;
            background-color: #36160F;
            border: 1px solid #AF8D31;
            box-sizing: border-box;
            padding: 0 45px 0 25px;
            color: #AF8D31;
            font-size: 16px;
            letter-spacing: 0.1em;
            line-height: 1.3;
            text-align: left;
            text-decoration: none;
            transition-duration: 0.5s;
            @include mobile-screen{
                height: 40px;
                font-size: 12px;
            } 
        
            &::before{
                content: '';
                width: 8px;
                height: 8px;
                border: 0;
                border-top: 2px solid #AF8D31;
                border-right: 2px solid #AF8D31;
                transform: rotate(45deg);
                position: absolute;
                top: 50%;
                right: 25px;
                margin-top: -6px;
                @include mobile-screen{
                    width: 6px;
                    height: 6px;
                    top: 55%;
                } 
            }
        
            &:hover{
                background-color: #AF8D31;
                color: #36160F;
        
                &::before{
                    border-top: 2px solid #36160F;
                    border-right: 2px solid #36160F;
                }
            }
            
        }
    }
}

