.product{
    // height: 100%;
    background-image: url('../img/bg_point.png');
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN', sans-serif;


    h3{
        text-align: center;
        color: white;
        font-size: 30px;
        padding: 150px 0;
        line-height: 1.5em;
    }
}

.chocopie{
    text-align: center;
    padding-bottom: 250px;
    position: relative;
}

.chocopie_img1,
.chocopie_img2,
.chocopie_img3{
    height: 300px;
    cursor: pointer;
}

.fukidashi1,
.fukidashi2,
.chocopie_text1,
.chocopie_text2{
    position: absolute;
    height: 200px;
    top: -20%;
}

.fukidashi1,
.chocopie_text1{  
    left: 15%;
}

.fukidashi2,
.chocopie_text2{
    left: 50%;
}

.chocopie_text1,
.chocopie_text2{
    height: 150px;
    width: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    color: white;
    font-size: 25px;
}

.eatme,
.soyummy,
.good{
    position: absolute;
    display: none;
}

.eatme{
    top: 0%;
    left: 60%;
    height: 100px;
}

.soyummy{
    top: 10%;
    left: 58%;
    height: 110px;
    transform: rotate( 30deg );
}

.good{
    top: -10%;
    left: 30%;
}

.chocopie3{
    padding: 20px 0 150px 0;
}




.recipe{
    background-image: url('../img/chocolate.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,
    h3,
    p{
        color: white;
    }

    h2{
        font-size: 30px;
        margin-top: 100px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 100px;
        margin: 50px;
    }

    img{
        border-radius: 50%;
        height: 250px;
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

}