.section1{
    // height: 100%;
    background-image: url('../img/chocolate.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chocopie{
    text-align: center;
    padding-top: 300px;
    position: relative;
}

.chocopie_img{
    height: 300px;
}

.fukidashi1,
.fukidashi2,
.chocopie_text1,
.chocopie_text2{
    position: absolute;
    height: 200px;
    top: 30%;
}

.fukidashi1,
.chocopie_text1{  
    // top: 0%;
    left: 15%;
}

.fukidashi2,
.chocopie_text2{
    // top: 0%;
    left: 50%;
}

.chocopie_text1,
.chocopie_text2{
    height: 150px;
    width: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    color: white;
    font-size: 25px;
}