.section1{
    height: 100%;
    background-image: url('../img/chocolate.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chocopie{
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.fukidashi{
    position: absolute;
    top: 0%;
    left: 20%;
    height: 250px;
}