@charset "UTF-8";
.bg-slider {
  width: 100vw;
  height: 57vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#navi {
  display: block;
  position: fixed;
  top: -57vw;
  left: 0;
  bottom: 0;
  height: 57vw;
  width: 100vw;
  color: white;
  background-image: url("../img/choco_illast.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overfrow-scrolling: touch;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}

#navi a {
  color: white;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#navi a:hover {
  color: lightblue;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.open #navi {
  top: 0;
  opacity: 1;
}

#navi ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#navi ul.nav-menu {
  margin-bottom: 10%;
}

#navi ul.nav-menu li {
  margin-bottom: 10%;
  padding: 20px 0;
  border-bottom: solid 1px white;
}

.nav-menu a {
  text-decoration: none;
}

.toggle_btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}

.toggle_btn span:nth-child(2) {
  top: 14px;
}

.toggle_btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle_btn span {
  background-color: white;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

.jump-up {
  -webkit-animation-name: jump-up;
  animation-name: jump-up;
}

@-webkit-keyframes jump-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes jump-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.jump-down {
  -webkit-animation-name: jump-down;
  animation-name: jump-down;
}

@-webkit-keyframes jump-down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes jump-down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bg-box {
  position: absolute;
  top: 10%;
}

.bg-title {
  color: white;
  font-size: 80px;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Wawati SC','HanziPen TC','Hannotate SC',sans-serif;
  font-weight: lighter;
  line-height: 35px;
  display: block;
  opacity: 0;
  text-align: center;
}

.bg-title span {
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  -webkit-transition: .6s;
  transition: .6s;
}

.bg-text {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体', sans-serif;
  font-weight: lighter;
  line-height: 28px;
  position: absolute;
  top: 70%;
  left: 80%;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.lineup {
  background-color: #AF8D31;
  color: #36160F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN', sans-serif;
  position: relative;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.js-fadein {
  opacity: 0;
}

.lineup-top {
  text-align: center;
  margin: 5%;
  letter-spacing: 0.3em;
}

.lineup-title {
  font-weight: bold;
  font-size: 35px;
}

.lineup-sub {
  font-size: 13px;
  margin-top: 1%;
  font-weight: lighter;
}

.fadein-item {
  -webkit-animation: fadeInUp 0.7s linear 0s 1 forwards;
          animation: fadeInUp 0.7s linear 0s 1 forwards;
}

.lineup-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://yonimo.jp/images/bg_lineup.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-position-x: right;
  background-position-y: top;
  background-size: auto;
  top: 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.slider-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  text-align: center;
  font-weight: lighter;
  z-index: 1;
}

.item-img img {
  width: 100%;
  margin-bottom: 10%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.item-img img:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.text1-text {
  font-size: 22px;
  line-height: 1.5rem;
  margin-bottom: 8%;
}

.text2-text {
  font-size: 15px;
  line-height: 1.5rem;
}

.slider-btn {
  max-width: 300px;
  margin: 10% auto;
}

.btn-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background-color: #AF8D31;
  border: 1px solid #36160F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #36160F;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.btn-buy::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #36160F;
  border-right: 2px solid #36160F;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}

.btn-buy:hover {
  background-color: #36160F;
  color: #AF8D31;
}

.btn-buy:hover::before {
  border-top: 2px solid #AF8D31;
  border-right: 2px solid #AF8D31;
}

.reverse-img {
  position: absolute;
  bottom: 0;
  left: 0%;
  background-image: url("https://yonimo.jp/images/bg_lineup.svg");
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  background-repeat: no-repeat;
  background-position: left top;
  background-position-x: left;
  background-position-y: top;
  background-size: auto;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.product {
  background-image: url("../img/bg_point.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN', sans-serif;
}

.product h3 {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 150px 0;
  line-height: 1.5em;
}

.chocopie {
  text-align: center;
  padding-bottom: 250px;
  position: relative;
}

.chocopie_img1,
.chocopie_img2,
.chocopie_img3 {
  height: 300px;
  cursor: pointer;
}

.fukidashi1,
.fukidashi2,
.chocopie_text1,
.chocopie_text2 {
  position: absolute;
  height: 200px;
  top: -20%;
}

.fukidashi1,
.chocopie_text1 {
  left: 15%;
}

.fukidashi2,
.chocopie_text2 {
  left: 50%;
}

.chocopie_text1,
.chocopie_text2 {
  height: 150px;
  width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5em;
  color: white;
  font-size: 25px;
}

.eatme,
.soyummy,
.good {
  position: absolute;
  display: none;
}

.eatme {
  top: 0%;
  left: 60%;
  height: 100px;
}

.soyummy {
  top: 10%;
  left: 58%;
  height: 110px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.good {
  top: -10%;
  left: 30%;
}

.chocopie3 {
  padding: 20px 0 150px 0;
}

.recipe {
  background-image: url("../img/chocorecipe.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Sawarabi Mincho', serif;
}

.recipe h1,
.recipe h2,
.recipe h3,
.recipe p {
  color: white;
}

.recipe h1 {
  font-size: 50px;
  margin-top: 100px;
}

.recipe h2 {
  font-size: 20px;
  margin-top: 20px;
}

.recipe h3 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.5em;
}

.recipe h4 {
  color: #d3ad07;
  margin-bottom: 100px;
}

.recipe p {
  font-size: 100px;
  margin: 50px;
}

.recipe img {
  border-radius: 50%;
  height: 250px;
}

.recipe div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}
/*# sourceMappingURL=style.css.map */